.wrapper {
    margin: 1%;
    margin-left: 3%;
    margin-top: 2%;
    display: grid;
    grid-template-areas: "m add";
    grid-template-columns: 10fr 2fr;
}

.main {
    grid-area: m;
}

.additional {
    grid-area: add;
}

.ava {
    width: 200px;
    height: 200px;
    float: left;
    margin: 7px 7px 7px 0;
    border-radius: 5px;
}

.posts {
    position: relative;
    top: -35px;
    left: 20px;
}

.info {
    position: absolute;
    margin-left: 0.3%;
    height: 300px;
    width: 14.2%;
    top: 47%;
}

.block {
    position: relative;
    height: 10%;
}

.icon {
    position: absolute;
    top: 10%;
    left: 3%;
}

.text {
    position: absolute;
    top: 10%;
    left: 20%;
}
