.ava {
    width: 200px;
    height: 200px;
    float: left;
    margin: 7px 7px 7px 0;
    border-radius: 5px;
}

.name {
    position: relative;
    top: 230px;
    left: -175px;
}

.age {
    position: relative;
    top: -165px;
    left: 30px;
}

.nameIcon {
    position: relative;
    top: 230px;
    left: -190px;
}

.ageIcon {
    position: relative;
    top: -165px;
    left: 18px;
}

.posts {
    position: relative;
    top: -35px;
    left: 20px;
}
